/.gocache/
/.cache/
/.gomodcache/
/.gotmp/
/cometa.exe
/bin/
/node_modules/
/out/
/vscode-extension/bin/
/vscode-extension/node_modules/
/vscode-extension/out/
*.vsix
/experiments/
/.claude/
/dist/

/webpage/src/data/
